n8n-workflows/exported/onchain-error-alert.json
{
  "name": "onchain-error-alert",
  "description": null,
  "active": true,
  "nodes": [
    {
      "parameters": {
        "content": "## onchain-error-alert\nError Trigger → **Normalize Input** (Set: owns the error-payload→named-fields contract, with fallbacks so nothing renders `undefined`) → Telegram. Set as the `errorWorkflow` for onchain-* workflows; fires a Telegram alert (chat 207209924) on any failure. To change what the alert shows, edit Normalize Input — not the Telegram node. Owner: onchain-intel.",
        "height": 180,
        "width": 460
      },
      "id": "sticky",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -208
      ]
    },
    {
      "parameters": {},
      "id": "err_trig",
      "name": "On workflow error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "207209924",
        "text": "=🔴 onchain-intel: workflow FAILED\nWorkflow: {{ $('Normalize Input').first().json.workflow_name }}\nLast node: {{ $('Normalize Input').first().json.last_node }}\nError: {{ $('Normalize Input').first().json.error_message }}\nExecution: {{ $('Normalize Input').first().json.execution_id }} ({{ $('Normalize Input').first().json.execution_mode }})\nTime: {{ $('Normalize Input').first().json.alerted_at }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "tg_alert",
      "name": "Telegram alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        460,
        0
      ],
      "webhookId": "ed90f63e-31f6-43c7-8d2d-258ac6bab541",
      "credentials": {
        "telegramApi": {
          "id": "cMrsUr48jl2JVEUi",
          "name": "Onchain bot"
        }
      }
    },
    {
      "id": "set-normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c-workflow-name",
              "name": "workflow_name",
              "value": "={{ $('On workflow error').first().json.workflow?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "c-workflow-id",
              "name": "workflow_id",
              "value": "={{ $('On workflow error').first().json.workflow?.id || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "c-last-node",
              "name": "last_node",
              "value": "={{ $('On workflow error').first().json.execution?.lastNodeExecuted || '(unknown)' }}",
              "type": "string"
            },
            {
              "id": "c-error-message",
              "name": "error_message",
              "value": "={{ $('On workflow error').first().json.execution?.error?.message || 'no message' }}",
              "type": "string"
            },
            {
              "id": "c-execution-id",
              "name": "execution_id",
              "value": "={{ $('On workflow error').first().json.execution?.id || 'n/a' }}",
              "type": "string"
            },
            {
              "id": "c-execution-url",
              "name": "execution_url",
              "value": "={{ $('On workflow error').first().json.execution?.url || '' }}",
              "type": "string"
            },
            {
              "id": "c-execution-mode",
              "name": "execution_mode",
              "value": "={{ $('On workflow error').first().json.execution?.mode || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "c-alerted-at",
              "name": "alerted_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "On workflow error": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Telegram alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC",
    "binaryMode": "separate"
  },
  "nodeGroups": [],
  "sourceWorkflowId": null
}
